@media (max-width: 1260px) {
   .info-item {
      padding: 30px;
   }

   .info-title {
      font-size: 16px;
   }
   .info-text {
      font-size: 14px;
   }
}

@media (max-width: 1065px) {
   .info-title {
      letter-spacing: unset;
   }

   .about-block {
      padding-right: 30px;
   }

   .services-content {
      height: 400px;
   }
}

@media (max-width: 992px) {
   .section {
      margin-bottom: 30px;
   }

   .header-logo img {
      height: 55px;
   }

   .intro-content {
      height: 530px;
      justify-content: center;
   }

   .intro-title {
      font-size: 34px;
      text-align: center;
   }

   .intro-block {
      text-align: center;
   }

   .about-block {
      padding-right: 0px;
      padding-bottom: 30px;
   }
   .info-img img {
      height: 22px;
  }

   .services-content {
      height: 300px;
   }

   .services-text {
      display: none;
   }

   .about {
      padding: 30px 0;
   }

   .about-wrapper {
      flex-direction: column;
   }

   .about-text {
      margin: 20px 0 30px;
      text-align: justify;
   }

   .about-link {
    font-size: 14px;  
   }

   .about-img {
      height: auto;
      max-width: 100%;
   }

   .section.process {
      padding-top: 0;
   }

   .process-title {
      margin-bottom: 10px;
      font-size: 100px;
   }

   .process-subtitle {
      margin-bottom: 30px;
   }

   .process-item {
      text-align: center;
      min-height: auto;
      padding-bottom: 30px;
   }
}

@media (max-width: 850px) {
   .wrapper {
      flex-wrap: wrap;
   }

   .info {
      transform: translateY(-75px);
   }

   .block {
      width: 100%;
      margin-bottom: 20px;
   }

   .info-item {
      text-align: center;
   }

   .services-content {
      height: 450px;
      background-position: center;
   }

   .block-title {
      text-align: center;
   }

   .block-link {
      display: flex;
      justify-content: center;
   }

   .contacts-form {
      margin: 0 auto;
   }
}

@media (max-width: 768px){
   .nav-header {
      display: none;
   }
}

@media (max-width: 565px) {
   .services-content {
      height: 300px;
   }

   .process-title {
      font-size: 70px;
   }

   .process-subtitle {
      font-size: 25px;
   }

   .form-row {
      margin: 0 -10px;
      flex-direction: column;
   }

   .form-group {
      padding: 0 10px;
   }

   .footer-wrapper {
      height: auto;
      padding: 30px 0;
      flex-direction: column;
      align-items: center;
   }
   

   .coppyright {
      margin-bottom: 30px;
   }
}

@media (max-width: 460px) {
   .intro-title {
      font-size: 26px;
   }

   .block-title {
      font-size: 24px;
   }

   .process-title {
      font-size: 40px;
   }

   .process-subtitle {
      font-size: 18px;
   }

   .coppyright {
      text-align: center;
   }
}