@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/* фиксация размера блоков при назнач. отступов */
*,*:before, *:after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

p {
   margin: 0;
}

.container {
   width: 1200px;
   margin: 0 auto;
}

/* header */

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
}

.header-wrapper {
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-block {
   width: 20%;
}

.header-logo {
   display: inline-block;
}

.header-logo img {
   height: 65px;
}

/* Navigation */

.nav-header {
   display: flex;
}

.link-nav {
   margin-right: 35px;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 600;
   position: relative;
}

.link-nav:last-child {
   margin-right: 0;
}

.link-nav:after {
   width: 100%;
   height: 2px;
   background-color: #fff;
   position: absolute;
   top: 100%;
   left: 0%;
   content: '';
   opacity: 0;
   transition: opacity .3s ease;
}

.link-nav:hover:after {
   opacity: 1;
}
/* lang link */
.header-lng {
   display: flex;
   justify-content: flex-end;

}

.header-lng-link {
   color: #B7B7B7;
   font-weight: 600;
   text-decoration: none;
   text-transform: uppercase;
   transition:  .2s linear;
}

.header-lng-link:last-child {
   margin-left: 8px;
}

.header-lng-link:hover {
   color: #fff;
   font-size: 17px;
}

/* intro */

.intro {

   background-size: cover;
   position: relative;
}

.intro:after {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #000;
   opacity: .2;
   content: '';
}

.intro-content {
   height: 790px;
   display: flex;
   align-items: center;
   position: relative;
   z-index: 2;
}

.intro-title {
   max-width: 790px;
   color: #fff;
   font-size: 48px;
   font-weight: bold;
   line-height: 1.5;
   margin-bottom: 30px;
   text-transform: uppercase;
}

.btn {
   color: #fff;
   background-color: #DB2512;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   min-width: 200px;
   padding: 0 15px;
   text-decoration: none;
   font-size: 15px;
   font-weight: 500;
   transition:  .3s linear;
}

.btn:hover {
   background-color: #9e1e10;
}

.btn:active {
   background-color: #fff;
   color: #DB2512;
}



/* info */

.info {
   transform: translateY(-50%);
}

.wrapper {
   display: flex;
   margin: 0 -10px;
}

.block {
   width: 33%;
   padding: 0 10px;
}

.info-item {
background-color: #fff;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
padding: 30px 30px 20px;
}

.info-img {
   margin-bottom: 20px;
}

.info-img img{
   height: 30px;
}

.info-title {
   margin-bottom: 10px;
   font-size: 18px;
   letter-spacing: 0.15em;
   text-transform: uppercase;
}

.info-text {
   font-size: 18px; 
   color: #B7B7B7;
}

/* services block */

.services {
   margin-bottom: 100px;
}

.block-title {
   font-size: 30px;
   margin-bottom: 15px;
   letter-spacing: 0.15em;
   text-transform: uppercase;
}

.block-link {
   display: inline-block;
   margin-bottom: 60px;
   letter-spacing: 0.15em;
   color: #000;
   text-transform: uppercase;
}

.block-link:hover {
   text-decoration: none;
}

.services-item {
   text-decoration: none;
}

.services-item:hover .services-content-info {
   opacity: 1;
}

.services-item:hover .services-content {
   transform: scale(1.04);
}

.services-item:hover .services-content:after {
   opacity: .5 ;
}

.services-content {
   height: 500px;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
   transition:  1s ease;
}

.services-content:after {
   height: 100%;
   width: 100%;
   background-color: #000;
   opacity: 0;
   top: 0;
   left: 0;
   content: '';
   position: absolute;
   transition: .4s linear;
}

.services-content-info {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: 2;
   transition: .4s linear;
}

.services-img {
   width: 100px;
   height: 100px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: #DB2512;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.services-title {
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 0.23em;
   color: #000;
   text-transform: uppercase;
}

.services-text {
   font-size: 18px;
   font-weight: 600;
   max-width: 270px;
   color: #fff;
   letter-spacing: 0.023em;
   position: absolute;
   bottom: 25px;
   left: 30px;
   letter-spacing: 0.23em;
   text-transform: uppercase;
}

/* about */

.about {
   padding: 115px 0;
   background-color: #171616;
}

.about-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.text-white {
   color: #fff;
}

.about-block {
   max-width: 500px;
}

.about-text {
   margin: 35px 0 40px 0;
font-weight: 600;
color: #B7B7B7;
letter-spacing: 0.23em;
}

.about-link {
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 0.15em;
   color: #fff;
   text-transform: uppercase;
}

.about-link:hover {
   text-decoration: none;
}

.img-block {

}

.about-img {
   height: 340px;
}